/* Variables */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }
  
  form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    margin: 0 auto;
  }
  
  h1 {
    word-break: break-word; 
  }
  
  .hidden {
    display: none;
  }
  
  /* #payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  } */
  
  /* #payment-element {
    margin-bottom: 24px;
  } */
  
  /* Buttons and links */
  .paystripe {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    margin-bottom: 10px;
  }


  /* button:hover {
    filter: contrast(115%);
  } */
  /* button:disabled {
    opacity: 0.5;
    cursor: default;
  } */
  
  /* spinner/processing state, errors */
  /* .spinner, */
  /* .spinner:before, */
  /* .spinner:after {
    border-radius: 50%;
  } */
  /* .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  } */
  /* .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  } */
  /* .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  } */
  /* .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  } */

  .centering_parent {
    padding: 20px;             
  }

  .centering {
    text-align:  center; 
  }

  .label {
    font-size: 0.93rem;
  }

  .mailform {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
  }

  .checkform {
    text-align: center; 
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-size: 30px;
  }

  /* .checkcodeform {
    width: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
  } */

  /* .peopleform {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
  } */

  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
}

.content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    width:fit-content;
    height: fit-content;
}

.footer {
  text-align: center;
  font-size: 10pt;
  margin: 10px;
  color: #ccc;
  height: 25px;

}

/* .merchant-info-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
} */

/* .merchant-info-small-title {
  text-align: left;
  font-weight: bold;
} */

/* .form-group {
  display: flex;
  align-items: center;
} */

/* table {
  margin: 20px auto;
} */

/* .tbl-r02 th {
  background: var(--thema-color);
  border: solid 1px #ccc;
  color: var(--font-color);
  padding: 10px;
} */

/* .tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
} */
 
/* @media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r02 {
    width: 80%;
  }
  .tbl-r02 th,
  .tbl-r02 td {
    display: block;
    width: 100%;
  }
} */

/* header {
  width: 100%;
} */

/* .top-header {
  background-color: var(--thema-color);
  color: var(--font-color);;
  text-align: left;
  padding: 10px;
} */

.logo-header {
  color: #111010;
  text-align: left;
  padding: 10px;
}

/* .logo {
  font-size: 11px;
  font-weight: bold;
} */

/* input, select {
  -webkit-appearance: none;
  appearance: none;
} */

/* .border {
  border: 2px solid #000000;
} */

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}

/* 利用規約ポップアップのスタイル */
.modal {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 80%; /* 最大幅を指定 */
  max-height: 80%; /* 最大高さを指定 */
  overflow-y: auto; /* スクロール可能にする */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* チェックボックスとその横に表示される要素のスタイル */
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox-style {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-right: 5px;
  
}

/* チェックが入っているときのスタイル */
.checkbox-style:checked + .checkmark:after {
  content: '\2713';
  font-size: 16px;
  color: #333;
  position: absolute;
  top: -5px;
}

/* チェックボックスの横に表示される要素のスタイル */
.checkmark:after {
  content: '';
  position: absolute;
  display: block;
}

.password-input-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}